
@{
    ViewBag.Title = "Danh sách Hàng nhập";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Danh sách Hàng nhập</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <table id="truckTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Số tờ khai</th>
                        <th>Tên hàng</th>
                        <th>Số kiện</th>
                        <th>Số Cont nhập</th>
                        <th>Ngày nhập</th>
                        <th>Xuất xứ</th>
                        <th>Trạng thái</th>
                        <th>In lệnh nhập</th>
                        <th>Thêm lệnh xuất</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "/HangNhap/GetHangNhap",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "SoToKhai" },
                    { "data": "TenHang" },
                    { "data": "SoKien" },
                    { "data": "SoContNhap" },
                    { "data": "NgayNhapText" },
                    { "data": "XuatXu" },
                    { "data": "TrangThaiText" },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-print f-20 text-success' onclick=InLenhNhap(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": 'text-center'
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-sign-out f-20 text-success' onclick=TaoHangXuat(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "className": 'text-center'
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-trash f-20 text-danger' onclick=Delete(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    }
                ]
            });
        });

        function Delete(id)
        {
            if (confirm("Bạn có muốn xóa Hàng nhập này không?"))
            {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "HangNhap")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
        }

        function TaoHangXuat(id)
        {
            window.location.href = "/NhapXuat/HangXuat/TaoHangXuat?HangNhapId=" + id;
        }

        function InLenhNhap(id)
        {

        }
    </script>
}




