
@{
    ViewBag.Title = "Danh sách Chuyến vận tải";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Danh sách Chuyến vận tải</h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <a class="btn btn-success" style="margin-bottom:10px;" onclick="PopupForm('@Url.Action("AddOrEdit","ChuyenDieuVan")')"><i class="fa fa-plus"></i> Thêm mới</a>
            <table id="truckTable" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>Số cont 1</th>
                        <th>Số cont 2</th>
                        <th>Trọng tải</th>
                        <th>Số xe</th>
                        <th>Tài xế</th>
                        <th>Rơ mooc</th>
                        <th>Ngày Vận tải</th>
                        <th>Ngày hoàn tất</th>
                        <th>Trạng thái</th>
                        <th>Sửa</th>
                        <th>Xóa</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var Popup, dataTable;
        $(document).ready(function () {
            dataTable = $("#truckTable").DataTable({
                "ajax": {
                    "url": "/ChuyenDieuVan/GetChuyenDieuVan",
                    "type": "GET",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "SoCont1" },
                    { "data": "SoCont2" },
                    { "data": "TrongTai" },
                    { "data": "SoXe" },
                    { "data": "TenLaiXe" },
                    { "data": "SoRomooc" },
                    { "data": "NgayHoanTatText" },
                    { "data": "NgayVanTaiText" },
                    { "data": "TrangThaiText" },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-pencil f-18 text-success' onclick=PopupForm('@Url.Action("AddOrEdit", "ChuyenDieuVan")/" + data + "')><i/>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    },
                    {
                        "data": "Id", "render": function (data) {
                            return "<i class='fa fa-trash f-20 text-danger' onclick=Delete(" + data + ")></i>";
                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "10px",
                        "className": 'text-center'
                    }
                ]
            });
        });

        function PopupForm(url) {
            var formDiv = $('<div/>');
            $.get(url)
            .done(function (response) {
                formDiv.html(response);
                Popup = formDiv.dialog({
                    autoOpen: true,
                    resizeable: false,
                    title: 'Nhập thông tin Chuyến điều vận',
                    height: 550,
                    width: 700,
                    close: function () {
                        Popup.dialog('destroy').remove();
                    }
                });
            });
        }

        function SubmitForm(form) {
                $.ajax({
                    type: "POST",
                    url: form.action,
                    data: $(form).serialize(),
                    success: function (data) {
                        if (data.success) {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            return false;
        }

        function Delete(id) {
            if (confirm("Bạn có muốn xóa Chuyến điều vận này không?")) {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("Delete", "ChuyenDieuVan")/' + id,
                    success: function (data) {
                        if (data.success) {
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "success"
                            })
                        }
                        else {
                            Popup.dialog('close');
                            dataTable.ajax.reload();
                            $.notify(data.message, {
                                globalPosition: "top center",
                                className: "error"
                            })
                        }
                    }
                });
            }
        }
    </script>
}




